@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Muli', sans-serif;*/
}

body {
    padding-top: 5; 
    background-color: #F1F1F1;
}

.post-bg {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 25px;
}

.def-font {
    font-family: 
}


.custom-rad {
    border-radius: 15px 50px;
}

.nav_style {
    background: #fff;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
}

.navbar-brand {
    /*width: 80px;
    height: 50px;*/
}

.navbar-nav li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333;
    position: relative;
}

.navbar-nav li a:before {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 50%;
    width: 0%;
    height: 3%;
    background: #ff7230;
    transition: all 0.3s linear;
}

.navbar-nav li a:hover:before {
    width: 80%;
}

.navbar-nav li a:hover {
    color: #ff7230 !important;
}

.user-img {
    width: 7% !important;
    height: 7% !important;
}

.user-name {
    font-style: italic;
    font-weight: bold;
    font-size: 25;
}